APP_NAME=""
APP_ENV=local
APP_PORT=""
APP_DEBUG=true
APP_URL="http://localhost"

DATABASE_HOST= # <container-name>
DATABASE_PORT= # <>:port
DATABASE_NAME=
DATABASE_USERNAME=gouser
DATABASE_PASSWORD=password

LOG_LEVEL=debug

EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USERNAME=mailpit
EMAIL_PASSWORD=mailpit

RUSTFS_REGION="local"
RUSTFS_ACCESS_KEY_ID=bFKeu5UQjKjv5Ipq0688
RUSTFS_SECRET_ACCESS_KEY=LdSjnHgTGHUMBHhEfpYGNJk0IJ8UGmGPY93637Tl
RUSTFS_ENDPOINT=http://localhost:9000
